DSCC_DATA_BACKEND=firebase
DSCC_FIREBASE_DATABASE_URL=https://ds-command-master-default-rtdb.firebaseio.com
DSCC_FIREBASE_STATE_PATH=appState/current
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/firebase-service-account.json
